<div class='fluid-container'>
  <h1 class='bookmarks-header'>Your watchlist</h1>
  <div class='bookmarked-cards'>
    <% @bookmarks.each do |bookmark| %>
    <div class='card'>
      <div class='bookmark-case'>
        <%= simple_form_for [@movie, bookmark] do |f| %>
          <%= button_tag type: 'submit', class: 'bookmark-btn' do %>
            <i class="fa-regular fa-bookmark"></i>
          <% end %>
        <% end %>
      </div>
      <%= image_tag bookmark.movie.poster_url, class: 'card-img' %>
      <div class="card-body">
        <p>⭐<%= bookmark.movie.rating %></p>
        <%= bookmark.movie.title %>
      </div>
    </div>
    <% end %>
  </div>
</div>
