<div class='fluid-container'>
  <div class='home-banner-container'>
    <%= cl_image_tag('https://res.cloudinary.com/do7v9dtgm/image/upload/v1678887570/pexels-nathan-engel-436413_tcvgq0.jpg', class: 'home-banner') %>
    <h1>Movie house</h1>
  </div>
  <div class='movies-container'>
   <div class='movies-header-container'>
      <h1 class='movies-header'>Top rated</h1>
      <%= link_to 'See all', top_rated_movies_path %>
    </div>
    <%= render "shared/top_rated" %>
  </div>
  <div class='movies-container'>
    <div class='movies-header-container'>
      <h1 class='movies-header'>Now playing</h1>
      <%= link_to 'See all', now_playing_movies_path %>
    </div>
    <%= render "shared/now_playing" %>
  </div>
</div>
