<div class='fluid-container'>
  <div class='home-banner-container'>
    <%= image_tag 'pexels-nathan-engel-436413.jpg', class: 'home-banner' %>
    <h1></h1>
  </div>
  <div class='movies-container'>
   <div class='movies-header-container'>
      <h1 class='movies-header'>Top rated</h1>
      <%= link_to 'See all', top_rated_movies_path %>
    </div>
    <%= render "shared/top_rated" %>
  </div>
  <div class='movies-container'>
    <div class='movies-header-container'>
      <h1 class='movies-header'>Now playing</h1>
      <%= link_to 'See all', now_playing_movies_path %>
    </div>
    <%= render "shared/now_playing" %>
  </div>
  <div class='movies-container'>
    <div class='movies-header-container'>
      <h1 class='movies-header'>Upcoming</h1>
      <%= link_to 'See all', upcoming_movies_path %>
    </div>
    <%= render "shared/upcoming" %>
  </div>
</div>
