<div class='movie-container'>
  <%= link_to '<- Go back', movies_path, class:'movie-back-btn' %>
  <div class='movie-main-content'>
    <div class='movie-poster'>
      <%= image_tag @movie.poster_url, class: 'show-movie' %>
    </div>

    <div class='movie-details'>
      <div class='details-header'>
        <h1><%= @movie.title %></h1>
        <span><%= @movie.rating.to_f %>⭐</span>
      </div>
      <p id='movie-overview'><%= @movie.overview %></p>
    </div>
  </div>
  <%#= Movie.first.title %>
</div>
