<% Movie.all.each do |movie| %>
  <% if movie.group == 'top_rated' %>
  <div class='card'>
    <div class='bookmark-case'>
      <%= simple_form_for [movie, @bookmark] do |f| %>
        <%= button_tag type: 'submit', class: 'bookmark-btn' do %>
          <i class="fa-regular fa-bookmark"></i>
        <% end %>
      <% end %>
    </div>
    <%= image_tag movie.poster_url, class: 'card-img' %>
    <div class="card-body">
      <p>⭐<%= movie.rating %></p>
      <%= movie.title %>
    </div>
  </div>
  <% end %>
<% end %>
